@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1BA7A6 ;
    font-family: 'PT Sans Caption', sans-serif;
}

header {
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.container {
    margin: auto;
    width: 98vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A37E76;
}

.text-row {
    display: flex;
    flex-wrap: wrap;
  width: 95%;
  height: 90%;
  margin: 0;
 background-color: #A39576;
 box-shadow: 5px 5px 15px 5px #000000;
justify-content: flex-start;
align-items: center;
}

.text-row .text-item {
    margin: 5px 10px;
    font-size: 25px;
    border: 1px solid black;
    padding: 10px;
    cursor: move;
    height: 50px;
    color: #fff;
}

.btn-container {
    text-align: center;
    margin-top: 5px;
}

.btn {
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #A39576;
    color: #fff;
    transition: 0.3s background-color linear;
}

.btn:hover {
    background-color: #A37E76;
}